@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "DM Sans";
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

header {
    height: 7.5vh;
    width: 100%;

    z-index: 999;

    position: fixed;
    display: flex;
    align-items: center;

    background-color: lightblue;
}

.headerIzq {
    width: 50%;
}

.headerIzq a {
    margin: auto 3.25vh;
}

.headerDer {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: right;
}

.headerImg {
    height: 7.5vh;
    width: 7.5vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.headerImg a {
    height: 100%;
    width: 100%;
    
    /* No creo que esto este bien hecho pero bueno XD */
    display: flex;

    align-items: center;
    justify-content: center; 
}

.headerImg img {
    transition: 0.5s;
    height: 5vh;

    border-radius: 50%;
}

.headerImg img:hover {
    transition: 0.5s;
    cursor: pointer;
    height: 5.5vh;

    border-radius: 50%;
}

/* espaciador */

.espaciador {
    height: 7.5vh;
    background-color: black;
}

/* inicio */

.inicio {
    height: 92.5vh;
    width: 100%;

    display: flex;
}

.inicioIzq {
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioTexto {
    width: 90%;
}

.inicioTexto h1 {
    font-size: 4em;
    margin: 3vh auto;
    text-align: center;
}

.inicioTexto p {
    margin: 2.5vh 0;
    font-size: 1.25em;
    text-align: center;
}

.inicioDer {
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioDer img {
    width: 80%;
}

/* proyectos */

.proyectos {
    height: 90vh;
    width: 100%;

    background-color: lightslategray;
}

.proyectosInfo {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectosTexto h1 {
    font-size: 3em;
    text-align: center;
    color: white;
}

.proyectosTexto p {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.proyectosListado {
    width: 100%;
    height: 70%;
}

.proyectosFila {
    height: 45vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectosItem {
    transition: 0.25s;
    height: 40vh;
    width: 60vh;

    margin: 2.5vh;

    border-radius: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.proyectosItem:hover {
    height: 42.5vh;
    width: 62.5vh;
}

.proyectosItem:hover img{
    transform: scale(1.05);
}

.pItemContenido {
    transition: 0.25s;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);

    border-radius: 1vh;
}

.pItemContenido:hover {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1px);
}

.pItemContenidoImg {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pItemContenidoImg a {
    text-align: center;
}

.pItemContenidoImg img {
    transition: 0.25s;

    width: 80%;

    margin: 2.5vh;
}

.pItemContenido h3, .pItemContenido p {
    text-align: center;
    width: 25vh;
    height: auto;

    margin: 1.5vh auto;
}

#IWTDTFW {
    background-image: url("./imgs/proyectos/IWTDTFW/fondoJuego1.png");
    background-size: cover;
    background-position: center;

    border-radius: 1vh;
}

/* contactanos */

.contactanos {
    height: 70vh;
    width: 100%;
}

.contactanosContenido {
    height: 60%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contactanosTexto h1 {
    text-align: center;
    font-size: 4.5em;
}

.contactanosTexto p {
    text-align: center;
    font-size: 1.2em;

    margin-top: 1vh;
}

.contactanosBotones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactanosBotones button{
    transition: 0.25s;
    
    padding: 4vh;
    font-size: 1.5em;

    border-radius: calc(4vh + 1.5em);
}

.contactanosBotones button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* integrantes */

.integrantes {
    height: auto;
    width: 100%;

    background-color: lightyellow;
}

.integrantesContenido {
    height: 20vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.integrantesTexto h1 {
    font-size: 3em;
}

.integrantesTexto p {
    text-align: right;
}

.integrantesBox {
    height: 100%;
    width: 100%;

    display: inline-block;
}

.iBoxFila {
    height: 20vh;
    width: 100%;

    margin-bottom: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.integrantesItem {
    height: 20vh;
    width: 40%;

    margin: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iItemIzq {
    height: 20vh;
    width: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iItemIzq img {
    height: 15vh;
    width: 15vh;

    margin: 5vh;

    border-radius: 10%;
}

.iItemDer {
    height: 20vh;
    width: calc(100% - 20vh);

    display: flex;
    align-items: center;
    justify-content: left;
}

.iItemTexto p {
    margin: 2vh auto 0;
}

/* footer */

.footer {
    height: auto;
    width: 100%;

    background-color: lightblue;

    display: flex;
    justify-content: center;
}

.footer p, .footer a {
    color: rgb(73, 116, 120)
}

.footer a:hover {
    text-decoration: underline;
}

footer {
    width: 70%;
}

.footerFila {
    height: 7.5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerIzq {
    height: 7.5vh;
    width: 50%;
}

.footerImg {
    height: 7.5vh;
    width: 7.5vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.footerImg a {
    height: 100%;
    width: 100%;
    
    /* No creo que esto este bien hecho pero bueno XD */
    display: flex;

    align-items: center;
    justify-content: center; 
}

.footerImg img:hover {
    transition: 0.5s;
    cursor: pointer;
    height: 5.5vh;

    border-radius: 50%;
}

.footerImg img {
    transition: 0.5s;
    height: 5vh;

    border-radius: 50%;
}

.footerDer {
    height: 7.5vh;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: right;
}

.footerDer p {
    margin: 2.5vh;
}

.footerContenido {
    height: auto;
    width: 100%;

    padding-top: 2.5vh;

    display: flex;
    align-items: top;
    justify-content: center;

    border-top: 1px rgb(73, 116, 120) solid;
}

.footerContenido ul {
    margin: 0 auto 0 0;
}

.footerContenido ul li {
    list-style-type: none;
    padding-bottom: 1.5vh;
}

.footerContenido p {
    display: inline;
    font-weight: bold;
}

.footerContenido a {
    display: inline;
    font-weight: normal;
}

.footerLocalidad {
    margin: 2.5vh 0;
}

#footerFila2 {
    justify-content: left;

    border-top: 1px rgb(73, 116, 120) solid;
}